.header {
    
    box-sizing: 20px;
    background-color: red;
    color: white;
    height: 5em;
}

.card-header {
    background-color: royalblue;
    color: white;
}

.card-body {
    background-color: whitesmoke;
}

.card-title {
    background-color: white;
}
